@use 'variables' as *;
@use "sass:color";
.map-wrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid $color-border;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: $transition;
  line-height: 0;
  margin-top: 2rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-color: color.adjust($color-border, $lightness: -10%);
  }

  iframe {
    filter: grayscale(20%);
    transition: $transition;

    &:hover {
      filter: grayscale(0%);
    }
  }
}