@use 'variables' as *;
@use 'base';
@use 'layout';
@use 'components';
@use 'sections';
@use 'map';

footer {
  background-color: $color-text;
  color: $color-bg;
  padding: 3rem 0;
  text-align: center;
  margin-top: 4rem;

  .footer-logo {
    font-family: $font-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
  }
}