.hero {
  height: 100vh;
  background-image:
    linear-gradient(to bottom, rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.9)),
    url("public/img/parrilla_home.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  .hero-content {
    display: flex;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 56rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    color: var(--white);
    font-weight: 700;
    font-family: Cinzel, serif;

    span {
      color: transparent;
      background-clip: text;
      background: linear-gradient(to right, #f97316, #dc2626);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--brand-light);
    font-weight: 300;
    max-width: 42rem;
  }

  img {
    height: 40vh;
  }

  .arrow-bounce {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
    animation: bounce 2s infinite;

    &:hover {
      opacity: 1;
      color: var(--brand-orange);
    }
  }
}

.our-essence {
  background-color: var(--brand-dark);
  color: var(--white);
  height: auto;

  .order-1,
  .order-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .order-1 {
    & > * {
      margin-bottom: 1.5rem;
      width: 100%;
    }

    .order-1--essence {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
      letter-spacing: 0.05em;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.875rem;
      line-height: 1.25rem;

      span {
        color: var(--brand-orange);
      }

      span {
        &:nth-child(1) {
          display: flex;
          width: 3rem;
          height: 1px;
          background-color: var(--brand-orange);
        }
      }
    }

    h2 {
      font-size: 3rem;
      line-height: 1;
      font-weight: 700;
      font-family: Cinzel, serif;
      margin-bottom: 1.5rem;
      color: var(--white);

      span {
        color: var(--brand-orange);
      }
    }

    p {
      color: var(--brand-blue);
      line-height: 1.625;
      font-weight: 300;
      font-size: 1.125rem;
    }

    .order-1--insignia {
      display: flex;
      gap: 0.75rem;
      align-items: flex-start;

      .item-start {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;
        flex: 1;

        svg {
          color: var(--brand-orange);
          width: 32px;
        }
      }
    }
  }

  .order-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .order-2--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-3deg) scale(1.07);
        border-width: 2px;
        border: 1px solid var(--brand-orange);
        border-radius: 0.5rem;
        opacity: 0.2;
      }
    }

    img {
      display: block;
      vertical-align: middle;
      max-width: 100%;
      position: relative;
      z-index: 10;
      height: auto;
      width: 100%;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
